<div class="tots" id="index">

<h1>My Choose-Its</h1>

<table>

	<thead>
		<tr>
			<th><!-- Image --></th>
			<th><span>This</span></th>
			<th><span>OR</span></th>
			<th><span>That</span></th>
			<th><!-- Image --></th>
			<th><!--Show Link--></th>
		</tr>
	</thead>

	<tbody>
		<% @tots.each do |tot| %>
			<tr>
				<td><%= image_tag tot.a_image.url(:thumb) if tot.a_image_file_name %></td>
				<td><span><%= tot.a %></span></td>
				<td><span>OR</span></td>
				<td><span><%= tot.b %></span></td>
				<td><%= image_tag tot.b_image.url(:thumb) if tot.b_image_file_name %></td>
				<td><%= link_to 'Show', tots_show_path(tot) %></td>
			</tr>
		<% end %>
	</tbody>
	
</table>

<br/>
<%= link_to 'Create New Choose-It!', tots_new_path %>

</div>
