<div class="tots" id="index">

<h1>My Choose Its</h1>

<table>

	<thead>
		<tr>
			<th><!-- Image --></th>
			<th><span>THIS</span></th>
			<th><span>or</span></th>
			<th><span>THAT</span></th>
			<th><!-- Image --></th>
		</tr>
	</thead>

	<tbody>
		<% @tots.each do |tot| %>
			<tr id='<%= tot.id %>' class='index_tot'>
				<td><%= image_tag a_url(tot, 'thumb') %></td>
				<td><span><%= tot.a %></span><span class='colorized'>(<%= pluralize(tot.a_votes, 'vote') %>)</span></td>
				<td><span>or</span></td>
				<td><span><%= tot.b %></span><span class='colorized'>(<%= pluralize(tot.b_votes, 'vote') %>)</span></td>
				<td><%= image_tag b_url(tot, 'thumb') %></td>
			</tr>
		<% end %>
	</tbody>
	
</table>

<br/>
<%= link_to 'Create New Choose It!', tots_new_path %>

</div>
