<h1>My Choose-Its</h1>

<table class="tots-center">

	<thead>
		<tr>
			<th><!-- Image --></th>
			<th>This</th>
			<th>Votes</th>
			<th><!-- Image --></th>
			<th>That</th>
			<th>Votes</th>
			<th><!--Show Link--></th>
			<th><!--Destroy Link--></th>
		</tr>
	</thead>

	<tbody>
		<% @tots.each do |tot| %>
			<tr>
				<!-- <td><div><%= link_to (tot.a_image_file_name ? image_tag(tot.a_image.url(:thumb)) : ''), tots_show_path(tot) %></div></td> -->
				<!-- <td><div><%= link_to tot.a, tots_show_path(tot) %></td> -->
				<td><%= image_tag tot.a_image.url(:thumb) if tot.a_image_file_name %></td>
				<td class="tots-padding"><%= tot.a %></td>
				<td class="tots-padding"><%= tot.a_votes %></td>
				<td class="tots-border-left"><%= image_tag tot.b_image.url(:thumb) if tot.b_image_file_name %></td>
				<td class="tots-padding"><%= tot.b %></td>
				<td class="tots-padding"><%= tot.b_votes %></td>
				<td class="tots-padding"><%= link_to 'Show', tots_show_path(tot) %></td>
				<td class="tots-padding"><%= link_to 'Destroy', tots_destroy_path(tot), :method => :delete %></td>
			</tr>
		<% end %>
	</tbody>
	
</table>

<br/>
<%= link_to 'Create New Choose-It!', tots_new_path %>
