<div id='new'>

<h1>Create new choose-it</h1>

<%= form_for @tot, :url => tots_create_path, :html => { :multipart => true, :id => 'tot_form' } do |f| %>
	
	<!--Server-side errors, if any-->
	<% if @tot.errors.any? %>
		<div>
			<h2><%= pluralize(@tot.errors.count, "error") %> prohibited this choose-it from being saved:</h2>
			<ul>
				<% @tot.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<!--Form fields-->
	<div id='new-choices'>
		<div class='new-choice-container'>
			<div class='new-choice'>
				<div id='a_image_preview' class='new-choice-image'>
					<div class='new-thumb-text'>
						Click to choose an image...
					</div>
				</div>
				<div class='new-choice-text'>
					<%= f.text_area :a, :id => :a_image_text %>
				</div>
			</div>
			<div class='new-choice-options'>
				<%= text_field_tag 'a_google_field', '', :id => :a_google_field %>
				<%= button_tag :type => "button", :id => :a_google_button do content_tag(:span, 'Google') end %>
				<br/>
				<%= f.text_field :a_url, :id => :a_url_field %>
				<%= button_tag :type => "button", :id => :a_url_button do content_tag(:span, 'URL') end %>
				<br/>
				<%= f.file_field :a_image, :id => :upload_a_image %>
			</div>
		</div>
		
		<div class="new-or">OR</div>

		<div class='new-choice-container'>
			<div class='new-choice'>
				<div id='b_image_preview' class='new-choice-image'>
					<div class='new-thumb-text'>
						Click to choose an image...
					</div>
				</div>
				<div class='new-choice-text'>
					<%= f.text_area :b, :id => :b_image_text %>
				</div>
			</div>
			<div class='new-choice-options'>
				<%= text_field_tag 'b_google_field', '', :id => :b_google_field %>
				<%= button_tag :type => "button", :id => :b_google_button do content_tag(:span, 'Google') end %>
				<br/>
				<%= f.text_field :b_url, :id => :b_url_field %>
				<%= button_tag :type => "button", :id => :b_url_button do content_tag(:span, 'URL') end %>
				<br/>
				<%= f.file_field :b_image, :id => :upload_b_image %>
			</div>
		</div>
	</div>
	
	<!-- Put submit button here -->
	<%= button_tag :type => 'button', :id => :submit_button do content_tag(:span, 'Submit') end %>
	
<% end %>

<%= link_to 'Back', tots_index_path %>

</div>
