<div class="tots" id="show">

<h1>Show Details</h1>

<div id="tots-choices">
	<div class="tots-choice">
		<div class="tots-choice-image">
			<%= image_tag a_url(@tot, nil), :id => :a_resize %>
		</div>
		<div class="tots-choice-text">
			<strong><%= @tot.a %>:</strong> <%= pluralize(@tot.a_votes, "vote") %>
		</div>
	</div>

	<div class="tots-or">OR</div>

	<div class="tots-choice">
		<div class="tots-choice-image">
			<%= image_tag b_url(@tot, nil), :id => :b_resize %>
		</div>
		<div class="tots-choice-text">
			<strong><%= @tot.b %>:</strong> <%= pluralize(@tot.b_votes, "vote") %>
		</div>
	</div>
</div>

<div id="tots-footer">
	<%= link_to 'Destroy', tots_destroy_path(@tot), :method => :delete, :confirm => 'Are you sure? This cannot be undone.' %>
</div>

</div>
