<h1>Show Details</h1>

<%= image_tag @tot.a_image.url(:medium) if @tot.a_image_file_name %><br/>
<b><%= @tot.a %>:</b> <%= pluralize(@tot.a_votes, "vote") %><br/>
<br/>

<%= image_tag @tot.b_image.url(:medium) if @tot.b_image_file_name %><br/>
<b><%= @tot.b %>:</b> <%= pluralize(@tot.b_votes, "vote") %><br/>
<br/>

<%= link_to 'Destroy', tots_destroy_path(@tot), :method => :delete, :confirm => 'Are you sure? This cannot be undone.' %>
