<div class="choice">
	<%= link_to votes_vote_path(@tot.id, choice), :method => :put do %>
		<span></span>
	<% end %>
	<%- if choice.to_s == "a" -%>
	<div>
		<%= image_tag a_url(@tot, nil) %>
	</div>
	<%= @tot.a %>
	<%- else -%>
	<div>
		<%= image_tag b_url(@tot, nil) %>
	</div>
	<%= @tot.b %>
	<%- end -%>
</div>
