<li>
<%= link_to content_tag(:span, 'Choose Now!'), votes_random_path %>
</li>
<li>
<%= link_to content_tag(:span, 'My Stuff'), tots_index_path %>
</li>

<li>
<%= link_to content_tag(:span, current_user.email), edit_user_registration_path %>
</li>
<li>
<%- if user_omniauth_signed_in? -%>
	<%= link_to content_tag(:span, 'Logout'), destroy_user_session_omniauth_path, :method => :delete %>
	<%- else -%>
	<%= link_to content_tag(:span, 'Logout'), destroy_user_session_path, :method => :delete %>
	<%- end -%>
</li>
