<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag "http://choose_it_public.s3.amazonaws.com/favicon.ico" %>
	<title>ChooseIt!</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>

<div id="container">
	<!-- Header -->
	<div id="header">
		<%= link_to image_tag('http://choose_it_public.s3.amazonaws.com/assets/root.png'), root_path %>
	</div>
	
	<!-- Navigation Links -->
	<div id="menu">
		<ul>
			<%- if user_signed_in? -%>
			<%= render 'layouts/links_signed_in' %>
			<%- else -%>
			<%= render 'layouts/links_signed_out' %>
			<%- end -%>
		</ul>
	</div><!-- menu -->

	<!-- Flash Messages -->
	<div id="flash">
		<%- if !notice.nil? -%>
		<p class="notice"><%= notice %></p>
		<%- end -%>
		<%- if !alert.nil? -%>
		<p class="alert"><%= alert %></p>
		<%- end -%>
	</div><!-- flash -->

	<!-- Content -->
	<div id="content">
	<%= yield %>
	</div><!-- content -->
	
	<!-- Footer Links -->
	<div id="footer">
		<%= link_to content_tag(:span, 'Contact Us!'), visitor_messages_new_path %>
	</div><!-- footer -->
</div><!-- container -->

</body>
</html>
