<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag "http://choose_it_public.s3.amazonaws.com/favicon.ico" %>
  <title>ChooseIt!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- Navigation Links -->
	<div id="navcontainer">
		<ul id="navlist">
			<%- if user_signed_in? -%>
			<%= render 'layouts/links_signed_in' %>
			<%- else -%>
			<%= render 'layouts/links_signed_out' %>
			<%- end -%>
		</ul>
	</div>

	<!-- Flash Messages -->
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<%= yield %>

</body>
</html>
