<!DOCTYPE html>
<html>
<head>
  <title>ChooseIt!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<!-- Navigation Links -->
	
	<%= link_to('Home', root_path) %>
	<%= link_to('My Stuff', tots_index_path)%>
	<%= link_to('Contact Us!', new_visitor_message_path)%>
	
	<!-- User Links -->
	<% if user_signed_in? %>
	Signed in as <%= current_user.email %>.
	<%= link_to('My Account', edit_user_registration_path) %> |
	<% if user_omniauth_signed_in? %>
	<%= link_to('Logout Facebook', destroy_user_session_omniauth_path, :method => :delete) %>
	<% else %>
	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	<% end %>
	<% else %>
	Not signed in.
	<%= link_to('Login with Facebook', user_omniauth_authorize_path(:facebook)) %> |
	<%= link_to('Login with email/password', new_user_session_path)  %> |
	<%= link_to('Sign Up', new_user_registration_path) %>
	<% end %>
	
	<!-- Flash Messages -->
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
